/* @import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap'); */
/* Searchbar styling https://dev.to/ara225/simple-search-bar-design-286a */
/* styling for searchbar and submit button on same line */
/* https://codepen.io/Steddie/pen/nzKQRZ  */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: 'Josefin Sans', sans-serif;
}



/* STYLING ROWS AND COLUMNS */
[class*="Column"]{
  float: left;
  margin:20px;
}

[class*="Row"]{
  display: table;
}



/*SEARCHBAR*/

.searchArea button {
  float: right;
  margin-left: -1px;
  border: solid 1px gray;
  padding: 15px;
  font-size: 1.1em;
  background-color:rgba(255, 255, 255, 0.442);
  right: 15px;
  margin-right:10%;
  
}

.searchArea .inputDiv {
  overflow: hidden;
  border: solid 1px gray;
  width:60%;
  margin-left: 10%;
}

#search-bar:focus {
  font-weight: bold;
}

#search-bar:autofill{
  border: 3px solid blue;
}

#search-bar:webkit-autofill{
  border: 3px solid blue;
}

#search-bar {
  height: 46px;
  border-radius: 48px;
  border: none;
  width: 100%;
  padding-right: 40px;
  padding-left: 10px;
}
::placeholder{
  color:black;
}
 

/* MODAL */
.modal-backdrop.fade.in{
  opacity: 0.9!important;
  filter: alpha(opacity=90)!important;
  }

#teamModal{
  width:410px;
  height:530px;
  margin-left: 0px;
  padding-bottom:50px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  overflow-y: hidden;
}

.modal-body{
  border:none;
  box-shadow: none;
}



/* USER INFO */
.card{
  height:500px;
}

.card-img-top{
  height:300px;
}



/* TEAM STATS */
.health-bar{
    font-weight: bold;
    width:50px;
}
.stamina-bar{
  font-weight: bold;
  width:50px;
}
.power-bar{
  font-weight: bold;
  width:50px;
}
.agility-bar{
  font-weight: bold;
    width:50px;
}